/* Variables que mas se repiten */
:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --letter-spacing: 0.03em;
  --color-black: #212121;
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --color-blue-active: #188ce8;
  --color-gray: #757575;
  --color-hero: #2f303a;
  --color-light-gray: #e5e5e5;
  --color-back-white: #f5f4fa;
}

body {
  font-family: var(--font-family-roboto);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-14);
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-white);
  color: var(--color-black);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: var(--color-blue);
}

.title-invisible {
  visibility: hidden;
}

.service-title {
  text-transform: uppercase;
}
/* Preguntar si es necesario una clase en las secciones principales??? */
.hero,
footer {
  background-color: var(--color-hero);
}

.team,
.button-item {
  background-color: var(--color-back-white);
}

.team-member,
.box-item {
  background-color: var(--color-white);
}

.menu-link,
.box-title {
  color: var(--color-black);
}
/* seccion con hover y focus */
/* otro color del boton en index? */
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-blue-active);
}

.hero-button,
.button-item:hover,
.button-item:focus {
  background-color: var(--color-blue);
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--color-blue);
}

.button-item:hover,
.button-item:focus {
  color: var(--color-white);
}
/* ------------------------------ */

.hero-button,
.button-item {
  cursor: pointer;
}

.hero-title,
.hero-button,
.address-link {
  color: var(--color-white);
}

.contact-link,
.title-gray,
.service-text,
.team-role,
.box-text {
  color: var(--color-gray);
}

.team-name,
.team-role,
.box-text,
.hero-button,
.button-item {
  font-size: var(--font-size-16);
}

.picture-title,
.team-title {
  font-size: 36px;
}

.service-text,
.team-role,
.address-link,
.box-text {
  font-weight: var(--font-weight-400);
}

.menu-link,
.contact-link,
.team-name,
.button-item {
  font-weight: var(--font-weight-500);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}

.box-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.address-link {
  font-style: normal;
}

/* letter-spacing asi? */
.menu-link,
.contact-link {
  letter-spacing: 0.02em;
}

.hero-title,
.hero-button,
.box-title {
  letter-spacing: 0.06em;
}

.menu-link,
.contact-link,
.service-title {
  line-height: 1.1;
}

.logo,
.picture-title,
.team-title,
.team-name,
.team-role {
  line-height: 1.2;
}

.button-item {
  line-height: 1.6;
}

.service-text,
.address-link,
.address-contact {
  line-height: 1.7;
}

.hero-button,
.box-text {
  line-height: 1.9;
}
/* Preguntar propiedades inherit */
.hero-button,
.button-item {
  font-family: inherit;
  /* font-weight: inherit; */
}

.address-contact {
  color: rgba(255, 255, 255, 0.6);
}
