/* Variables que mas se repiten */
:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --color-black: #212121;
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --color-gray: #757575;
  --color-hero: #2f303a;
  --color-light-gray: #e5e5e5;
  --color-back-white: #f5f4fa;
}
body {
  font-family: var(--font-family-roboto);
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-14);
  background-color: var(--color-white);
  color: var(--color-black);
  /* creo que falta letter-spacing */
}
/* Sin etiquetas de elemento? solo body? */
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
}

.menu .menu-link,
.contact .contact-link {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-14);
  color: var(--color-black);
}

.contact .contact-link {
  color: var(--color-gray);
}
/* posible error por nombramiento de clases, footer */
.hero,
footer {
  background-color: var(--color-hero);
}

.hero .hero-title,
.hero .hero-button {
  color: var(--color-white);
}

.hero .hero-title {
  font-weight: 900;
  font-size: 44px;
}

.hero .hero-button {
  font-family: inherit;
  font-weight: inherit;
  font-size: var(--font-size-16);
  background-color: var(--color-blue);
}
